#font{
    font-family: 'Poppins', sans-serif;
}
#one{
    color: darkorange;
}

#top_photo{
    height: 107%;
    width: 107%;
    padding-top: 2%;
}
#top_div1{
   padding-left: 5%;
   padding-top: 3%;
}
#top_div2{
    padding-top: 3%;
    padding-left: 15%;
}
#middle_photo{
    height: 100%;
    width: 100%;
    padding-top: 20%;
}
#mid_div2{
    padding-top: 30%;
}
#bottom_div1{
    padding: 1% 15% ;
    margin-bottom: 2%;
}
#footer_heading{
    font-size: 35px;
    margin: 20px 30px;
    text-align: center;  
    color: cadetblue;
    padding-top: 20px;
} 
#footer_p{
    color: grey;
    margin: 0 auto;
    text-align: center;
}
   
